<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="leguilog" packages="" status="warn">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss} %-5p\t[%-7t]\t%-40c{2.}:\t%L\t:\t%m%n</Pattern>
            </PatternLayout>
            <!--<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT"/>-->
            <ThresholdFilter level="debug"/>
        </Console>
        <Console ignoreExceptions="false" name="STDERR" target="SYSTEM_ERR">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss} %-5p\t[%-7t]\t%-40c{2.}:\t%L\t:\t%m%n</Pattern>
            </PatternLayout>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <RollingFile fileName="./logs/legui-error.log" filePattern="./logs/$${date:yyyy-MM}/legui-%d{MM-dd-yyyy}-%i.log.gz"
            name="RollingFileError">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss} %-5p\t[%-7t]\t%-40c{2.}:\t%L\t:\t%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <ThresholdFilter level="error"/>
        </RollingFile>
        <RollingFile fileName="./logs/legui-all.log" filePattern="./logs/$${date:yyyy-MM}/legui-%d{MM-dd-yyyy}-%i.log.gz"
            name="RollingFile">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss} %-5p\t[%-7t]\t%-40c{2.}:\t%L\t:\t%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <ThresholdFilter level="warn"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger level="debug" name="FileLogger"></Logger>
        <Root level="debug">
            <AppenderRef ref="RollingFileError"/>
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="STDERR"/>
        </Root>
    </Loggers>
</Configuration>